/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Noto Serif", serif;
  font-style: normal;
  background-color: #f5f8ff;
}
.hide {
  display: none;
}
/* NavBar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.menus {
  display: flex;
  align-items: center;
}
.web-menus {
  display: flex;
  align-items: center;
  gap: 48px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.web-menus li a:not(.home) {
  font-family: inter;
  font-weight: 400;
  color: rgb(137, 135, 161);
}
.home {
  font-family: inter;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
}

.mobile-menus {
  display: flex;
  margin-left: 48px;
  align-items: center;
}
.fa-cart-shopping {
  margin-right: 10px;
  color: rgba(0, 0, 0, 1);
}
.mobile-menus p {
  color: rgb(0, 0, 0);
  font-family: inter;
}
/* Banner Section */
.banner {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
}
.banner-container {
  display: flex;
  align-items: center;
}
.always,
.fresh,
.flowers {
  font-weight: bold;
  font-size: 4rem;
  color: rgba(0, 0, 0, 1);
}
.fresh,
.flowers {
  color: rgba(233, 90, 8, 1);
}
.banner-subtitle {
  font-family: inter;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}
/* Plant Section */
.plant-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.our-plants {
  text-align: center;
  font-size: 3.12rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}
.our {
  color: rgba(233, 90, 8, 1);
}
.plant-subtitle {
  max-width: 77%;
  text-align: center;
  margin: 0 auto;
  font-family: inter;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}
.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.card img {
  width: 100%;
  height: auto;
}
.card-title,
.card-price {
  font-family: inter;
  font-size: 22px;
  font-weight: 500;
  color: rgb(17, 17, 17);
}
.card-price {
  font-weight: 700;
}
.card-button {
  width: 100%;
  font-family: inter;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  padding: 26px 50px 26px 50px;
  border: none;
}
/* Plants Lover Section */
.plants-lover {
  margin-top: 180px;
  margin-bottom: 70px;
}
.lover-container {
  margin-top: 100px;
  display: flex;
  gap: 60px;
}
.left-side-lover {
  position: relative;
}
.left-side-lover::after {
  content: "";
  position: absolute;
  width: 286px;
  height: 286px;
  top: -130px;
  left: 350px;
  background-image: url("./assets/trusted-badge.png");
  background-size: cover;
  z-index: 5;
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-side-lover img {
  max-width: 100%;
  height: auto;
}
.lover-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}
.right-side-lover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* .right-side-lover ul {
  text-align: left;
  width: 100%;
  max-width: 500px;
} */
.right-side-lover li {
  text-align: left;
  max-width: 480px;
  list-style: disc;
  font-size: 22px;
  font-family: inter;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  /* padding-left: 5px; */
}

/* Deal Section */
.deal-title {
  text-align: center;
  margin-bottom: 10px;
}
.latest,
.deal {
  font-size: 50px;
  font-weight: bold;
  color: rgba(233, 90, 8, 1);
}
.deal {
  color: rgba(0, 0, 0, 1);
}
.deal-subtitle {
  font-family: inter;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.first,
.second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/deal-bloom.png");
  width: 367px;
  height: 201px;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.three {
  grid-area: three;
}
.first h1,
.second h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.first button,
.second button {
  font-family: inter;
  font-weight: 600;
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: underline;
}
.second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/deal-ana.png");
}
.three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/deal-zabo.png");
  width: 753px;
  height: 423px;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.three h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.three button {
  font-family: inter;
  font-size: 28px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  border: none;
  text-decoration: underline;
}
.deal-container {
  display: grid;
  grid-template-areas:
    "first three three"
    "second three three";
  column-gap: 28px;
  row-gap: 21px;
}
/* Join Section */
.join {
  margin-top: 120px;
}
.join-container {
  background-image: url("./assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding: 20px;
}
.join-down {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join input {
  width: 644px;
  height: 50px;
}
.join input::placeholder {
  font-family: inter;
  padding: 8px 20px 8px 20px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
}
.join button {
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-family: inter;
  font-weight: 600;
  padding: 17px 50px 17px 50px;
  border: none;
  height: 50px;
}
/* footer */
.footer {
  margin-top: 50px;
  margin-bottom: 100px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.subtitle {
  font-family: inter;
  font-size: 22px;
  margin-top: 10px;
  max-width: 260px;
  color: rgba(0, 0, 0, 0.5);
}
.middle-left ul,
.middle-right ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.middle-left ul li,
.middle-right ul li {
  font-family: inter;
  color: rgb(107, 114, 128);
}
.logos-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Mobile Responsive */
@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 13px 18px;
  }
  /* Navbar */
  .logo img {
    max-width: 63px;
    height: 38px;
  }
  .web-menus {
    display: none;
  }
  .carttt {
    white-space: nowrap;
  }
  /* Banner */
  .banner {
    margin-top: 10px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 18px;
  }
  .banner-left {
    max-width: 95%;
    margin: 0 auto;
  }
  .banner-title {
    margin-bottom: 13px;
  }
  .always,
  .fresh,
  .flowers {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .banner-subtitle {
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
  }
  .banner-right img {
    width: 100%;
    height: auto;
  }
  /* Plant Section */
  .plant-section {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .our-plants {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .plant-subtitle {
    max-width: 98%;
    font-size: 14px;
    margin-bottom: 28px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-title,
  .card-price {
    font-size: 16px;
  }
  .card-button {
    font-size: 16px;
    padding: 15px 0;
  }
  /* Plant Lover */
  .plants-lover {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .lover-container {
    margin-top: 0;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
  }
  .lover-title {
    font-size: 24px;
  }
  .right-side-lover ul {
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
  }
  .right-side-lover li {
    max-width: 360px;
    font-size: 14px;
  }
  .left-side-lover::after {
    display: none;
  }
  /* Deal */
  .latest-deal {
    max-width: 100%;
    margin-top: 50px;
  }
  .latest,
  .deal {
    font-size: 24px;
  }
  .deal-subtitle {
    font-size: 14px;
    text-align: center;
    max-width: 336px;
    margin-bottom: 40px;
  }
  .deal-container {
    display: grid;
    grid-template-areas:
      "first"
      "second"
      "three";
    gap: 28px;
  }
  .first,
  .second {
    width: 90vw;
    height: 30vh;
  }
  .three {
    width: 90vw;
    height: 30vh;
  }
  .three h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .three button {
    font-size: 16px;
  }
  /* Join */
  .join {
    margin-top: 40px;
  }
  .join-container {
    max-width: 100%;
    height: 275px;
  }
  .join-title {
    font-size: 20px;
  }
  .join input {
    max-width: 50vw;
  }
  .join button {
    max-width: 30vw;
    padding: 17px 20px 17px 20px;
  }
  /* footer */
  .footer {
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .footer-container {
    flex-direction: column;
  }
  .subtitle {
    font-size: 16px;
    max-width: 320px;
    margin-bottom: 20px;
  }
  .middle-left ul {
    margin-bottom: 30px;
  }
  .middle-right ul {
    margin-bottom: 30px;
  }
  .logos-footer {
    justify-content: flex-start;
  }
}


/* Larger device same layout as mobile */
@media screen and (min-width: 576px) and (max-width:940px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 15px 5%;
  }
  /* Navbar */
  .logo img {
    max-width: 63px;
    height: 38px;
  }
  .web-menus {
    display: none;
  }
  .carttt {
    white-space: nowrap;
  }
  /* Banner */
  .banner {
    margin-top: 10px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 18px;
  }
  .banner-left {
    max-width: 95%;
    margin: 0 auto;
  }
  .banner-title {
    margin-bottom: 13px;
  }
  .always,
  .fresh,
  .flowers {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .banner-subtitle {
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
  }
  .banner-right img {
    width: 100%;
    height: auto;
  }
  /* Plant Section */
  .plant-section {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .our-plants {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .plant-subtitle {
    max-width: 98%;
    font-size: 14px;
    margin-bottom: 28px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card-title,
  .card-price {
    font-size: 16px;
  }
  .card-button {
    font-size: 16px;
    padding: 15px 0;
  }
  /* Plant Lover */
  .plants-lover {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .lover-container {
    margin-top: 0;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
  }
  .lover-title {
    font-size: 24px;
  }
  .right-side-lover ul {
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
  }
  .right-side-lover li {
    max-width: 360px;
    font-size: 14px;
  }
  .left-side-lover::after {
    display: none;
  }
  /* Deal */
  .latest-deal {
    max-width: 100%;
    margin-top: 50px;
  }
  .latest,
  .deal {
    font-size: 24px;
  }
  .deal-subtitle {
    font-size: 14px;
    text-align: center;
    max-width: 336px;
    margin-bottom: 40px;
  }
  .deal-container {
    display: grid;
    grid-template-areas:
      "first"
      "second"
      "three";
    gap: 28px;
  }
  .first,
  .second {
    width: 90vw;
    height: 30vh;
  }
  .three {
    width: 90vw;
    height: 30vh;
  }
  .three h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .three button {
    font-size: 16px;
  }
  /* Join */
  .join {
    margin-top: 40px;
  }
  .join-container {
    max-width: 100%;
    height: 275px;
  }
  .join-title {
    font-size: 20px;
  }
  .join input {
    max-width: 50vw;
  }
  .join button {
    max-width: 30vw;
    padding: 17px 20px 17px 20px;
  }
  /* footer */
  .footer {
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .footer-container {
    flex-direction: column;
  }
  .subtitle {
    font-size: 16px;
    max-width: 320px;
    margin-bottom: 20px;
  }
  .middle-left ul {
    margin-bottom: 30px;
  }
  .middle-right ul {
    margin-bottom: 30px;
  }
  .logos-footer {
    justify-content: flex-start;
  }
}