/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Noto Serif", serif;
  font-style: normal;
  background-color: #f5f8ff;
}
.hide{
    display: none;
}
/* NavBar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.menus {
  display: flex;
  align-items: center;
}
.web-menus {
  display: flex;
  align-items: center;
  gap: 48px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.web-menus li a:not(.home) {
  font-family: inter;
  font-weight: 400;
  color: rgb(137, 135, 161);
}
.home {
  font-family: inter;
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
}

.mobile-menus {
  display: flex;
  margin-left: 48px;
  align-items: center;
}
.fa-cart-shopping {
  margin-right: 10px;
  color: rgba(0, 0, 0, 1);
}
.mobile-menus p {
  color: rgb(0, 0, 0);
  font-family: inter;
}
/* Banner Section */
.banner{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;

}
.banner-container{
    display: flex;
    align-items: center;
}
.always , .fresh , .flowers{
   font-weight: bold;
   font-size: 4rem; 
   color:rgba(0, 0, 0, 1) ;
}
.fresh,.flowers{
    color:rgba(233, 90, 8, 1);
}
.banner-subtitle{
    font-family: inter;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}
/* Mobile Responsive */
@media screen and (max-width: 576px) {
  .container {
    max-width: 95%;
    margin: 0 auto;
    padding: 13px 18px;
  }
  /* Navbar */
  .logo img {
    max-width: 63px;
    height: 38px;
  }
  .web-menus {
    display: none;
  }
  .carttt{
    white-space: nowrap;
  }
  /* Banner */
  .banner{
    margin-top: 10px;
  }
  .banner-container{
    flex-direction: column-reverse;
    gap: 18px;
  }
  .banner-left{
    max-width: 95%;
    margin: 0 auto;
  }
  .banner-title{
    margin-bottom: 13px;
  }
  .always , .fresh , .flowers{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .banner-subtitle{
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
  }
  .banner-right img{
    width: 100%;
    height: auto;
  }
}
